@import url(global.css);

@media screen and (max-width: 960px) {
    article {
        width: fit-content;
        padding: 1rem 1rem 4rem 1rem;
    }
}

article {
    background-color: var(--article-bg-color);
    box-shadow: 0 0 0.7rem 0.1rem #0003;
    width: 43rem;
    margin: 2rem auto;
    padding: 1rem 4rem 4rem 4rem;
}

h1, h2, h3, p, blockquote, td, .text-translation {
    font-family: Georgia, 'Times New Roman', Times, '宋体', serif;
    color: #333;
}
h1 {
    font-size: 2.5rem;
    border-bottom: 1px solid #0003;
    text-align: center;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
p {
    font-size: 1.1rem;
    line-height: 1.8rem;
}
a, a:visited {
    text-decoration: none;
}
sub, sup {
    font-size: 0.7rem;
}

blockquote {
    border-left: 3px solid #0002;
    padding-left: 1rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    width: fit-content;
}
.text-translation {
    opacity: 0;
    visibility: hidden;
    
    position: absolute;
    padding: 1rem 2rem 1rem 2rem;
    background-color: rgba(255, 252, 245, 0.9);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);

    transition: opacity, visibility;
    transition-duration: 0.2s;
}
blockquote:hover>.text-translation {
    opacity: 1;
    visibility: visible;

    transition: opacity, visibility;
    transition-duration: 0.1s;
}

table {
    border: 1px solid black;
    background-color: #FFF6;
}
td {
    padding: 0.2rem;
    border: 1px solid black;
    text-align: center;
}
td.wide {
    padding: 0.5rem;
}

img.portrait {
    width: 30%;
    transform: scale(1);

    transition: all;
    transition-duration: 0.1s;
}
img.landscape {
    width: 60%;
}
img:hover {
    transform: scale(1.5);
    transition-duration: 0.1s;
    cursor: zoom-in;
}
img:active {
    transform: scale(2.5);
    transition-duration: 0.1s;
}
img.language-icon:hover, img.language-icon:active, img.language-icon {
    height: 1rem;
    width: 2rem;
    transform: none;
    transition: none;
    cursor: default;
}
