@import url(global.css);

.game-ver {
    width: fit-content;
    margin: 0.5em auto;
    padding: 0.2em 0.5em;
    text-align: center;

    background-color: #0001;
    color: #000c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.corpus-article {
    --border-style: 1px solid #0004;
    border-left: var(--border-style);
    border-bottom: var(--border-style);
    padding: 0.2em 0.3em;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;

    transition: transform, background-color;
    transition-duration: 0.1s;
}
.corpus-article:hover {
    background-color: #0001;
    transform: translateX(0.2em);

    transition-duration: 0.05s;
}
