@import url(global.css);

@media screen and (max-width: 960px) {
    #dictionary-proper {
        width: fit-content;
    }
}

#dictionary-proper,
#search-instruction,
#dictionary-panel {
    margin: 1rem auto;
    padding: 1rem;
    width: 30rem;

    background-color: var(--article-bg-color);
    box-shadow: var(--article-shadow);
}

#search-instruction {
    width: fit-content;
    text-align: center;
}
@keyframes pressButtonAni {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0.2rem 0.02rem gray;
    }
    25% {
        transform: scale(0.99);
        box-shadow: none;
    }
    50% {
        transform: scale(1);
        box-shadow: 0 0 0.2rem 0.02rem gray;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0.2rem 0.02rem gray;
    }
}
#control-key, #F-key {
    display: inline-block;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    
    border-radius: 0.3rem;
    height: 4rem;
    width: 4rem;
    margin: 0 0.2rem;
    
    background-color: white;
    border: 1px solid #0004;
    box-shadow: 0 0 0.2rem 0.02rem gray;
    color: #333;
    
    animation: pressButtonAni 1s 3;
    animation-timing-function: ease-out;
}
#control-key { width: 5rem;}
#search-label {
    display: inline-block;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    
    height: 4rem;
    width: 4rem;
    margin: 0 1rem;
    
    color: #333;
}
#search-hint-close-btn {
    float: right;
    width: fit-content;

    cursor: pointer;

    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    transition: color;
    transition-duration: 0.3s;
}
#search-hint-close-btn:hover {
    color: coral;
    transition-duration: 0.1s;
}

/* 词典正文 */

.single-word {
    display: block;
}

.the-word {
    color: #222;
    font-size: 1.5rem;
    font-family: var(--default-font);
}
.word-definitions, .word-examples {
    color: #222;
    text-indent: 0.5rem;
    font-family: var(--default-font);
}
.part-of-speech {
    color: #888;
    display: inline-block;
}
.translation {
    display: inline-block;
}

.word-status { display: inline-block }
.word-status-none { color: #ccc }
.word-status-folk { color: #777 }
.word-status-official { color: #222 }
.word-status-official-sus { color: #222 }
.word-status-official-sus::after { content: "*"; }

.example-hilichurlian {
    display: inline-block;
    color: #777;
    font-style: italic;
    font-size: 0.8em;
}
.example-translation {
    display: inline-block;
    font-size: 0.9rem;
}
.example-comment {
    text-indent: 1.5rem;
    font-size: 0.8rem;
    color: #777;
}
code {
    color: #bbb;
    font-size: 0.7rem;
}

.dictionary-legend {
    background-color: rgba(255, 255, 255, 0.6);

    position: fixed;
    bottom: 0;
    padding: 1em 1.2em;
    margin: 0.5em;

    user-select: none;
}
