:root {
    --header-bg-color: rgba(255, 255, 255, 0.5);
    --page-bg-color: rgb(224, 216, 200);
    --article-bg-color: rgb(248, 241, 226);
    --nav-bg-color: rgb(248, 241, 226);
    --article-shadow: 0 0 0.7rem 0.1rem #0003;
}

@font-face {
    font-family: "HanyiCJKL";
    src: url("../font/HanyiCJKLATIN.ttf");
}
@font-face {
    font-family: "KhaenriahLATIN";
    src: url("../font/KhaenriahLATIN.ttf");
}
@font-face {
    font-family: "MondstadtLATIN";
    src: url("../font/MondstadtLATIN.ttf");
}

.ib { display: inline-block; }
.sf { width: fit-content; height: fit-content; }

header {
    background-color: var(--header-bg-color);
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    user-select: none;
    
    font-size: 2.5rem;
    font-family: Georgia, serif;
    color: #222;
}
header > div {
    display: inline-block;
    width: fit-content;
}

body {
    margin: 0;
    background-color: var(--page-bg-color);
}

nav {
    background-color: var(--nav-bg-color);
    box-shadow: 0 0 0.5rem 0.1rem gray;
    margin: 1rem auto;
    padding: 1rem;
    width: fit-content;
    width: -moz-fit-content;
}

hr { 
    width: 90%;
    border: 1px solid rgb(216, 213, 207);
}

code { font-family: Consolas, 'Courier New', Courier, monospace; }

a { text-decoration: none; color: unset;}

.newsfeed {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
}

.hr-blank {
    display: block;
    height: 0.5rem;
}

/* Buttons */

.btn {
    display: inline-block;
    width: fit-content;
    user-select: none;
    cursor: pointer;
    padding: 0.5rem;
}
.btn-normal, .btn-critical {
    background-color: #ffffff;
    border: 1px solid gray;
    color: #222;
}
.btn-normal:hover {
    background-color: white;
    color: black;
    transition: transform;
    transition-duration: 0.1s;
}
.btn-critical:hover {
    background-color: coral;
    color: white;
}
.btn-normal:active, .btn-critical:active {
    background-color: white;
    color: black;
    transform: scale(0.95);
    transition: transform;
    transition-duration: 0.1s;
}
