@import url(global.css);

.repo-link { font-size: 1.5rem; }

#welcome-banner {
    margin: 1rem auto;
    padding: 0 1rem;
    width: fit-content;
    width: -moz-fit-content;

    border-left: 3px solid #555;
    border-right: 3px solid #555;

    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 2rem;
}

#first-anniversary-banner {
    margin: 1rem auto;
    margin-top: 1rem;
    width: 20rem;
    
    border: 0.2rem solid rgb(194, 172, 132);
    background-color: rgb(248, 241, 226);
    
    text-align: center;
    font-size: 2rem;
}

.category-link {
    margin: 1rem;

    cursor: pointer;

    transition: transform;
    transition-duration: 0.5s;

    font-family: Georgia, serif;
    color: #222;
}
.category-link:hover {
    transform: scale(1.05);
    transition: all;
    transition-duration: 0.2s;
}
.category-title {
    font-size: 2rem;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
}
.category-description {
    font-size: 1.2rem;
    user-select: none;
    -webkit-user-select: none;
}
