a { text-decoration: none; color: unset;}

header {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 2rem;
    font-size: 2.5rem;

    user-select: none;
}
body {
    margin: 0;
    background-color: rgb(224, 216, 200);
}
nav {
    background-color: rgb(248, 241, 226);
    box-shadow: 0 0 0.5rem 0.1rem gray;
    margin: 1rem auto;
    padding: 1rem;
    width: fit-content;
    width: -moz-fit-content;
}

hr { 
    width: 90%;
    border: 1px solid rgb(216, 213, 207);
}

.newsfeed {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
}

.hr-blank {
    display: block;
    height: 0.5rem;
}
