a { text-decoration: none; color: unset;}

header {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 2rem;
    font-size: 2.5rem;
}
body {
    margin: 0;
    background-color: #fce6c1;
}
nav {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0.5rem 0.1rem gray;
    margin: 1rem auto;
    padding: 0.5rem;
    width: fit-content;
}

.corpus-article {
    user-select: none;
    white-space: pre;
    font-size: 1.2rem;

    cursor: pointer;

    width: fit-content;

    transition: background-color, color;
    transition-duration: 0.2s;
}
.corpus-article:hover {
    background-color: #444;
    color: #FFF;

    transition: background-color, color;
    transition-duration: 0.1s;
}
.ca-text::before {content: "📄";}
.ca-quest::before {content: "❗️";}
.ca-bbs::before{content: "💬";}
