@font-face {
    font-family: "HanyiCJKL";
    src: url("../../font/HanyiCJKLATIN.ttf");
}

header {
    font-family: HanyiCJKL, Georgia, serif;
    color: #222;
}

#welcome-banner {
    font-family: serif;
    font-weight: bold;
}

.category-link {
    font-family: serif;
    color: #222;
}
.corpus-article {
    font-family: serif;
}
.corpus-article-legend, .dictionary-legend {
    font-family: sans-serif;
}

.the-word {
    font-family: HanyiCJKL, Georgia, serif;
}