@font-face {
    font-family: "HanyiCJKL";
    src: url("../../font/HanyiCJKLATIN.ttf");
}
@font-face {
    font-family: "KhaenriahLATIN";
    src: url("../../font/KhaenriahLATIN.ttf");
}
@font-face {
    font-family: "MondstadtLATIN";
    src: url("../../font/MondstadtLATIN.ttf")
}
/* @font-face {
    font-family: "InazumaLATIN";
    src: url("../../font/");
} */

header {
    font-family: HanyiCJKL, Georgia, serif;
    color: #222;
}

#welcome-banner {
    font-family: Georgia, serif;
    font-weight: bold;
}

.category-link {
    font-family: Georgia, serif;
    color: #222;
}
.corpus-article {
    font-family: Georgia, serif;
}
.corpus-article-legend, .dictionary-legend {
    font-family: Georgia, sans-serif;
}

.the-word, .example-hilichurlian, .example-translation {
    font-family: Georgia, serif;
    font-variant-ligatures: normal;
}

.translation, .example-comment {
    font-family: Georgia, serif;
    font-variant-ligatures: normal;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
}

code {
    font-family: Consolas, 'Courier New', Courier, monospace;
}