
#dictionary-proper, #search-instruction {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0.5rem 0.1rem gray;
    
    margin: 1rem auto;
    border-radius: 0.3rem;
    padding: 1rem;
    width: 30rem;
}
/* 提示按下搜索按钮 */
#search-instruction {
    width: fit-content;
    text-align: center;
}
#search-label {
    display: inline-block; 
    height: fit-content; 
    vertical-align: top; 
    padding: 1rem 0; 
    line-height: 2rem;

    font-size: 1.2rem;
}
@keyframes pressButtonAni {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0.4rem 0.05rem gray;
    }
    25% {
        transform: scale(0.99);
        box-shadow: none;
    }
    50% {
        transform: scale(1);
        box-shadow: 0 0 0.4rem 0.05rem gray;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0.4rem 0.05rem gray;
    }
}
#control-key, #F-key {
    display: inline-block;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 0.3rem;
    height: 4rem;
    width: 4rem;
    margin: 0 0.2rem;

    background-color: white;
    border: 1px solid #0004;
    box-shadow: 0 0 0.4rem 0.05rem gray;
    color: #333;

    animation: pressButtonAni 2s infinite;
}
#control-key { width: 5rem;}
/*****************/

.single-word {
    display: block;
}

.the-word {
    font-size: 1.5rem;
    color: #222;
}
.word-definitions, .word-examples {
    text-indent: 0.5rem;
}
.part-of-speech {
    display: inline-block;
    color: #888;
}
.translation {
    display: inline-block;
}

.word-status { display: inline-block }
.word-status-none { color: #ccc }
.word-status-folk { color: #777 }
.word-status-official { color: #222 }
.word-status-official-sus { color: #222 }
.word-status-official-sus::after { content: "*"; }

.example-hilichurlian {
    display: inline-block;
}
.example-translation {
    display: inline-block;
    font-size: 0.9rem;
}
.example-comment {
    text-indent: 1.5rem;
    font-size: 0.8rem;
    color: #777;
}
.word-origin {
    font-size: 0.8rem;
}

.dictionary-legend {
    background-color: rgba(255, 255, 255, 0.6);

    position: fixed;
    bottom: 0;
    padding: 1em;

    user-select: none;
}
