#goto-github-link {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    font-size: 1rem;
}

#welcome-banner {
    margin: 1rem auto;
    padding: 0 1rem;
    width: fit-content;
    width: -moz-fit-content;

    border-left: 3px solid #555;
    border-right: 3px solid #555;

    font-size: 2rem;
}

.category-link {
    display: inline-block;
    margin: 1rem;

    cursor: pointer;

    transition: transform;
    transition-duration: 0.5s;
}
.category-title {
    font-size: 2rem;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
}
.category-description {
    font-size: 1.2rem;
    user-select: none;
    -webkit-user-select: none;
}
.category-link:hover {
    transform: scale(1.05);
    transition: all;
    transition-duration: 0.2s;
}
