.btn {
    display: inline-block;
    width: fit-content;
    user-select: none;
    cursor: pointer;
    padding: 0.5rem;
}

.btn-normal, .btn-critical {
    background-color: #ffffff;
    border: 1px solid gray;
    color: #222;
}
.btn-normal:hover {
    background-color: white;
    color: black;
    transition: transform;
    transition-duration: 0.1s;
}
.btn-critical:hover {
    background-color: coral;
    color: white;
}
.btn-normal:active, .btn-critical:active {
    background-color: white;
    color: black;
    transform: scale(0.95);
    transition: transform;
    transition-duration: 0.1s;
}
