body {
    background-color: rgb(224, 216, 200);
}

article {
    background-color: rgb(248, 241, 226);
    box-shadow: 0 0 0.7rem 0.1rem rgba(0, 0, 0, 0.2);
    width: 43rem;
    margin: 2rem auto;
    padding: 1rem 4rem 4rem 4rem;
}

h1, h2, h3, p, blockquote, td, .text-translation {
    font-family: Georgia, 'Times New Roman', Times, '宋体', serif;
    color: #333;
}
h1 {
    font-size: 2.5rem;
    border-bottom: 1px solid #0003;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
p {
    font-size: 1.1rem;
    line-height: 1.8rem;
}
a, a:visited {
    text-decoration: none;
}
sub, sup {
    font-size: 0.7rem;
}

blockquote {
    font-size: 1.1rem;
    line-height: 1.5rem;
    width: fit-content;
}
.text-translation {
    opacity: 0;
    visibility: hidden;
    
    position: absolute;
    padding: 1rem 2rem 1rem 2rem;
    background-color: rgba(255, 252, 245, 0.9);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);

    transition: opacity, visibility;
    transition-duration: 0.2s;
}
blockquote:hover>.text-translation {
    opacity: 1;
    visibility: visible;

    transition: opacity, visibility;
    transition-duration: 0.1s;
}

table {
    border: 1px solid black;
    background-color: #FFF6;
}
td {
    padding: 0.2rem;
    border: 1px solid black;
    text-align: center;
}

.corpus-article {
    user-select: none;
    white-space: pre;
    font-size: 1.2rem;

    cursor: pointer;

    width: fit-content;
    padding: 0.2rem 0.5rem;
}
.corpus-article:hover {
    background-color: #444;
    color: #FFF;
}
.ca-text::before {content: "📄";}
.ca-book::before {content: "📖"}
.ca-quest::before {content: "❗️";}
.ca-bbs::before{content: "💬";}

.corpus-article-legend {
    background-color: rgba(255, 255, 255, 0.6);

    position: fixed;
    bottom: 0;
    padding: 1em;

    user-select: none;
}

img.portrait {
    width: 30%;
    transform: scale(1);

    transition: all;
    transition-duration: 0.1s;
}
img.landscape {
    width: 60%;
}
img:hover {
    transform: scale(1.5);
    transition-duration: 0.1s;
    cursor: zoom-in;
}
img:active {
    transform: scale(2.5);
    transition-duration: 0.1s;
}

.inline {
    display: inline-block;
}

